<p>All Users</p>

{{#each users as |user|}} <!-- showing how a loop in handlebars works -->
  <div>
    <div>ID: {{user.id}}</div>
    <div>Email: {{user.email}}</div>
    <div>Created: {{user.createdAt}}</div>
    <div>Updated: {{user.updatedAt}}</div>
  </div>
  <br>
{{/each}}
